@model PokeGiphyYtAPI.Models.Pokemon

@{ 
    ViewBag.Title = "Home Page";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td class="text-center">Pokemon</td>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">@Model.name.ToUpper() <br/> <img src="@Model.sprites.front_default" /></td>
            
        </tr>
    </tbody>
</table>